@import "./utils.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
// default reset css
input {
  border: 0;
  outline: 0;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: unset;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  letter-spacing: 1px;
  font-size: 14px;
}
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #{$primary-txt-color} #{$btn-background};
  &::-webkit-scrollbar {
    width: 6px;
    background: $primary-txt-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $btn-background;
    border-radius: 6px;
    width: 6px;
  }
}
button,
button:focus {
  outline: 0;
  box-shadow: none;
  border: 0;
  cursor: pointer;
  font-size: 14px;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
// default reset css end

// login form start here
.s-form-wrapper {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.s-form-left {
  background-image: url("../img/login-bg1.jpg");
  background-size: cover;
  height: 100vh;
}
.s-form-left,
.s-form-right {
  flex: 1;
}
.s-form-title {
  font-size: 24px;
  margin-bottom: 30px;
}
.s-login-form {
  max-width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}
.s-error-text {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}
.s-form-group {
  margin-top: 20px;
  width: 100%;
  position: relative;
  .s-form-label {
    position: absolute;
    color: #{$form-inactive-color};
    font-size: 16px;
    left: 0px;
    cursor: text;
    bottom: 5px;
    transition: 0.5s all;
  }
  .s-form-control {
    &.password {
      padding-right: 60px;
    }
    width: 100%;
    padding: 20px 20px 20px 0;
    height: 38px;
    border-bottom: 2px solid #{$form-inactive-color};
    font-size: 16px;
    transition: 0.5s all;
    &:focus,
    &.has-input {
      border-bottom-color: #{$form-active-color};
      ~ .s-form-label {
        color: #{$form-active-color};
        bottom: 100%;
        transition: 0.5s all;
        font-size: 12px;
      }
    }
  }
  .s-btn-login {
    background-color: #{$btn-background};
    padding: 15px 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #{$primary-txt-color};
    border-radius: 5px;
    transition: 0.5s all;
    margin: 10px 0;
    opacity: 0.9;
    &:hover {
      transition: 0.5s all;
      opacity: 1;
    }
  }
  .s-btn-link {
    display: inline-block;
    color: #{$form-active-color};
    transition: 0.5s all;
    opacity: 0.9;
    &:hover {
      opacity: 1;
      transition: 0.5s all;
      text-decoration: underline;
    }
  }
  .s-form-link-wrapper {
    display: inline-block;
    float: right;
  }
  .show-hide-icon {
    background-repeat: no-repeat;
    position: absolute;
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-position: center;
    background-image: url("../img/hide-pass.svg");
    right: 0px;
    padding: 7px 7px 10px 7px;
    // background-color:#fff;
    bottom: -1px;
    z-index: 11;
    cursor: pointer;
    &.show {
      background-image: url("../img/show-pass.svg");
    }
  }
}
// login form end here
// page layout css here
.main-wrapper {
  display: flex;
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  // sidebar css here
  .sidebar {
    transition: 0.5s left;
    position: absolute;
    z-index: 99;
    left: -250px;
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    color: #{$primary-txt-color};
    background: #{$btn-background};
    display: flex;
    flex-direction: column;
    .toggle-btn {
      width: 25px;
      height: 20px;
      background-color: #{$primary-txt-color};
      position: absolute;
      display: block;
      top: 5px;
      right: -30px;
      cursor: pointer;
      span {
        width: 100%;
        position: absolute;
        background: #{$btn-background};
        height: 3px;
        transition: 0.2s all;
        display: block;
        border-radius: 2px;
        top: 0;
        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
          transition: 0.2s all;
        }
        &:last-child {
          top: unset;
          bottom: 0%;
          transition: 0.2s all;
        }
      }
    }
    // toggle btn css end
    .logo-link {
      font-size: 24px;
      text-transform: uppercase;
      border-bottom: 1px solid #{$primary-txt-color};
      cursor: pointer;
      padding: 12px 20px;
      color: #{$primary-txt-color} !important;
      display: flex;
      font-weight: bold;
      text-transform: uppercase;
      font-weight: 500;
    }
    // sidebar header and links css
    .sidebar-link-wrapper {
      flex: 1;
      padding: 0;
      margin: 0;
      list-style: none;
      overflow: auto;
      a {
        cursor: pointer;
        padding: 15px 20px;
        color: #{$primary-txt-color} !important;
        display: flex;
        font-weight: bold;
        text-transform: uppercase;
        &.active,
        &:hover:not(.logo-link) {
          background: #{$primary-txt-color} !important;
          color: #{$btn-background} !important;
        }
      }
    }
    // search box css start here
    .search-box-wrapper {
      position: relative;
      .search-input {
        height: 50px;
        width: 100%;
        border: 1px solid #{$primary-txt-color};
        padding: 0 40px 0 15px;
        font-size: 16px;
        color: #{$btn-background};
        &::placeholder {
          font-size: 16px;
        }
      }
      .btn-search {
        position: absolute;
        padding: 0;
        margin: 0;
        right: 20px;
        top: 50%;
        border: 0;
        outline: 0;
        transform: translateY(-50%);
        background-color: transparent;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  // sidebar active css
  #sidebarCheckbox {
    display: none;
    &:checked {
      & + .sidebar {
        transition: 0.5s left;
        left: 0;
        .toggle-btn {
          span {
            top: 50%;
            transition: 0.2s all;
            transform: translateY(-50%) rotate(45deg);
            &:nth-child(2) {
              opacity: 0;
            }
            &:last-child {
              top: 50%;
              transform: translateY(-50%) rotate(-45deg);
              bottom: unset;
            }
          }
        }
      }
      & ~ .content {
        right: -250px;
        transition: 0.5s right;
      }
    }
  }
  // sidebar css end here
  .content {
    width: 100vw;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #{$primary-txt-color} #{$btn-background};
    background-color: #fafcfd;
    position: relative;
    right: 0;
    transition: 0.5s right;
  }
  .header {
    height: 60px;
    border-bottom: 1px solid #{$btn-background};
    padding-left: 15px 15px 15px 50px;
    padding: 20px;
  }
  // header css end
  .content-body {
    height: calc(100vh - 60px);
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    .left-sec {
      padding: 20px 10px 20px 20px;
      flex: 1;
    }
    // left sec css end
    .right-sec {
      padding: 20px 20px 20px 20px;
      width: 300px;
      .right-sec-list {
        padding: 0 0 0 0;
        list-style: none;
        clear: both;
        margin-top: 20px;
        li {
          padding: 5px 0;
          a {
            color: #{$btn-background};
            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
    }
    // right sec end
  }
  // content body end
}
.blog-card-wrapper {
  width: 300px;
  border:1px solid #ccc;
  img {
    width: 100%;
  }
  .card-details {
    padding:20px 10px;
    .blog-title {
      font-size: 18px;
    }
    .blog-para{
      font-size:14px;
      text-align:justify;
    }
  }
}
.facebook {
  color: #ccc;
  font-size: 18px;
  padding: 15px;
  &:hover {
    color: #3b5998;
  }
}
.twitter {
  color: #ccc;
  font-size: 18px;
  padding: 15px;
  &:hover {
    color: #00acee;
  }
}
.linkedin {
  font-size: 18px;
  padding: 15px;
  color: #ccc;
  &:hover {
    color: #0e76a8;
  }
}
.instagram {
  font-size: 18px;
  padding: 15px;
  color: #ccc;
  &:hover {
    color: #3f729b;
  }
}
.txt-h2 {
  font-size: 18px;
  border-bottom: 3px solid #{$btn-background};
  padding-bottom: 5px;
  display: inline-block;
}
