@import "./utils.scss";
@media (min-width: 1200px) {
  // reset css
  body {
    letter-spacing: Converter(1);
    font-size: Converter(14);
  }
  button {
    font-size: Converter(14);
  }
  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: unset;
    -webkit-box-shadow: 0 0 0 Converter(1000) white inset;
  }
  // reset css end
  //form start here
  .s-login-form {
    padding: #{Converter(20)};
    max-width: #{Converter(500)};
  }
  .s-form-title {
    font-size: Converter(24);
    margin-bottom: Converter(30);
  }
  .s-error-text {
    font-size: #{Converter(12)};
    margin-bottom: #{Converter(10)};
  }
  .s-form-group {
    margin-top: #{Converter(20)};
    .show-hide-icon {
      width: Converter(18) !important;
      height: Converter(18) !important;
      background-size: Converter(18) !important;
      right: Converter(0) !important;
      bottom: Converter(-1);
      padding: Converter(7)  Converter(7)  Converter(20)  Converter(7)!important;
    }
    .s-form-label {
      font-size: #{Converter(16)};
      bottom: #{Converter(5)};
    }
    .s-form-control {
      &.password {
        padding-right: #{Converter(50)};
      }
      &:focus,
      &.has-input {
             ~ .s-form-label {
          font-size: Converter(12) !important;
        }
      }
      padding: #{Converter(20)} #{Converter(20)} #{Converter(20)} 0;
      height: #{Converter(38)};
      border-bottom: #{Converter(2)} solid #{$form-inactive-color};
      font-size: #{Converter(16)};
    }
  }
  .s-btn-login {
    padding: #{Converter(15)} #{Converter(20)} !important;
    border-radius: #{Converter(5)} !important;
    margin: #{Converter(10)} 0 !important;
    letter-spacing: #{Converter(1)} !important;
  }
  .s-btn-login {
    border-radius: #{Converter(5)} !important;
    margin: #{Converter(10)} 0 !important;
  } //form end here

  //
}
