/* max-width 991px */
@media (max-width: 991px) {
  .main-wrapper {
    .content-body {
      .left-sec {
        flex: unset;
      }
      // left sec css end
      .right-sec {
        width: 100%;
      }
      // right sec end
    }
    // content body end
  }
}
/* max-width 768px */
@media (max-width: 768px) {
  .blog-card {
    .blog-body {
      .blog-text-contetnt-div {
        padding-left: 0;
      }
    }
  }
}
/* max-width: 567px */
@media (max-width: 567px) {
  .s-form-left {
    display: none !important;
  }
}

/*max-width:447px*/
@media (max-width: 447px) {
}
