// funnction To Convert px into vw 
@function Converter($px){
$singleUnit:0.069vw;
@return $singleUnit * $px;
}

// login form variables
$form-inactive-color:'#ccc';
$form-active-color:'#212121';
$form-text-color:'#212121';
$primary-txt-color:#fff;
$btn-background:'#212121';
